node_modules

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.venv/

# Local env
.env

ollama-models/
podcast-agent-artifacts/
2-podcast-creation-workflow/output/
azure-speech-output/