agent-framework-core==1.6.0
agent-framework-devui==1.0.0b260521
agent-framework-ollama==1.0.0b260521
agent-framework-foundry==1.6.0

python-dotenv==1.2.2
ipykernel==7.2.0
azure-cognitiveservices-speech>=1.40.0